<!DOCTYPE html>
<html>
  <head>
    <title>QuizOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">
        <img src='iconfinder_airplane_4920725.png' width="30" height="30" alt="">
      </a>
    </nav>
    <%= yield %>
  </body>
</html>
